<template>
    <div class="row">
        <div class="column">
            <div class="card login-card">
                <div class="card-divider">
                    <a href="/">
                        <!-- removed -->
                    </a>
                </div>
                <div class="card-section">
                    <p>Sign into the ...</p>

                    <div if.bind="error" class="alert callout">
                        <p>${error}</p>
                    </div>
                    <div if.bind="message" class="primary callout">
                        <p>${message}</p>
                    </div>

                    <form method="post" id="loginForm" submit.delegate="login($event)">
                        <div class="form-group">
                            <label>
                                Username
                                <input
                                    type="text"
                                    name="username"
                                    value.bind="username"
                                    required
                                    maxlength="30" />
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                Password
                                <input
                                    type="password"
                                    name="password"
                                    value.bind="password"
                                    required
                                    maxlength="72" />
                            </label>
                        </div>
                        <gg-form-actions activity.two-way="activity.loginForm">
                            <button type="submit" class="button">Sign in</button>
                        </gg-form-actions>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
